.forv{
     margin-top: auto;
     height: 40%;
     width:  auto;
}
.vid{
    position:  relative;
    margin-top:  auto;
    z-index:  -1000;
    width:  100%;
    height: auto;
    overflow:  hidden;
    left:  0;
    bottom: 0;
}
.myvid{
     position: absolute;
     margin-top: 0 auto;
     z-index:  -100;
     top:  0;
     bottom: 0;
     left:  0;
     right:  0;
     max-height: 125%;
     max-width:  25%;
     margin-left:  10% ;
}
.index{
     position: inherit;
     align-content: center;
     z-index:  1000;
     margin-left: 35%;
}
.vid1{
    position:  relative;
    margin-top:  auto;
    margin-bottom: auto;
    z-index:  -1000;
    width:  100%;
    height: auto;
    overflow:  hidden;
    left:  0;
    bottom: 0;
}
.myvid1{
     position: absolute;
     margin-top: 0 auto;
     z-index:  -100;
     margin-left: 10%;
     top:  0;
     bottom: 0;
     left:  0;
     right:  0;
     max-height: 125%;
     max-width: 35%;
}
.index1{
     position: inherit;
     z-index:  1000;
}
.img7{
    margin-top: -40%;
    margin-left:  46%;
    
}
.img8{
    margin-top: -8%;
    height:  30%;
    margin-left:  46%;
}
.img9{
    margin-top:  20.5%;
    height: 40%;
    margin-left:  10%;
}
.img10{
    margin-top: -14.5%;
    margin-left: 73%;
    height:  30.5%;
}
.img11{
    margin-left:  10%;
    height:  15%;
    margin-top: -8.5%;
}
.img12{
    margin-top: -8.5%;
    height: 15%;
}
.img13{
    margin-top: -8.5%;
    height: 15%;
    width:  12%;
}
.img15{
   
}